:root{

    --Black: #171A1F;
    --Blue: #C5D5D8;
    --Tipografy: Roboto;

}

.menu {
width: 100%;
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
height: 65px;


}

#Fondo {
    
    height: 750px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    
}

body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}